
@font-face {
  font-family: TexGyreHeros;
  src: url(texgyreheros.gyreheros-regular.otf);
}
a{
  color: grey;
  text-decoration: none;
}
a:hover{
  color: black;
}

*{
  user-select: none;  scroll-behavior: smooth;
  font-family: TexGyreHeros;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

body{
  font-size: 16px;

}

.container{
  /* padding-right:32%;
  padding-left: 32%; */
/* border-style: solid; */
display: block;
width: 36%;
min-width: 400px;
margin: auto;
height: auto;
}

.header{
  /* border-style: dotted; */
  padding-top: 12px;
  display: flex;
  width: auto;


}
.name{
  /* float: left; */
  width:30%;
}
.info{
  display: flex;
  justify-content: flex-start;
  /* border-style: dotted; */

}
.title{
  padding-bottom: 4px;
}
.projtitle{
  padding-top:4px;
  padding-bottom: 4px;
  text-decoration: underline;
  position: relative;

}

.space{
  width: 12px;
}

.bod{
  /* border-style: dotted; */
}
.links{
  display: flex;
  margin-bottom: 12px;
}
.bio{
  margin-top: 32px;
/* border-style: dotted; */
width: auto;
margin-bottom: 60px;
}

.Education{
  hyphens: auto;
  width: 50%;
  margin-bottom: 12px;
}
.experience{
  width: 50%;

}
.border{
  /* width: 8vw; */
}
.work{
width: 100%;
}
.projects{
  /* border-style: dotted; */
  margin-bottom: 32px;
}
.footer{
  font-size: 14px;
  position: sticky;
  justify-content: flex-end;
  width: 99vw;
  display: flex;
  padding-top: 36px;
  padding-bottom: 4px;

  /* border-style: dotted; */
}
.button{
  color: black;
  text-decoration: none;
  font-size:15px;
  border-style: solid;
  border-radius: 3px;
  border-width:1px;
  padding: 4px 14px;
  border-bottom-width: 1.5px;
  border-right-width: 1.5px;

}
.button:active{
  border-top-width: 1.5px;
  border-left-width: 1.5px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
.button:hover{
  padding: 6px 16px;
}
.rights{
  padding-right: 12px;
}
img{
  border-style: solid;
  border-width: 1.2px;
  width: 100%;
  padding-bottom: 4px;

}
video{
  border-style: solid;
  border-width: 1.2px;
  width: 100%;
  padding-bottom: 4px;
}
img:hover{
  opacity: .5;
}
video:hover{
  opacity:.5;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 35px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  color: black; /* Text color */
  background-color: white;
  border-color: black;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 16px 10px 16px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
}

#myBtn:hover {
  padding: 7px 18px 12px 18px; /* Some padding */

}
#mtBtn:focus{
  outline: none!important;
;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mobileinfo{
  display: none;
}

/* #youtubescroll{
  height: 50vh;
  padding-left: 20px;

} */

@media only screen and (max-width: 600px) {
  .name{
    /* float: left; */
    width:100%;
    padding-top: 12px;
  }
  body {

  }
  .container{
    /* padding-right:32%;
    padding-left: 32%; */
  /* border-style: solid; */
  display: block;
  width: 80%;
  min-width:12px;
  margin: auto;
  height: auto;
  }
  .info{
    display: none;
  }
  .button{
    color: black;
    text-decoration: none;
    font-size:15px;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    padding: 4px 14px;
    border-bottom-width: 1.5px;
    border-right-width: 1.5px;

  }
  .mobileinfo{
    display:block;
  }

}
